.iti__flag {
  background-image: url("../libs/intl-tel-input-17.0.0/build/img/flags.png");
}

@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
  .iti__flag {
    background-image: url("../libs/intl-tel-input-17.0.0/build/img/flags@2x.png");
  }
}

.iti {
  width: 100%;
}

.error {
  font-size: 12px;
  color: #dc3545;
  font-weight: 500;
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
  transition: opacity 500ms ease-in-out;

  &--close {
    opacity: 0;
  }

  &__logo {
    max-width: 300px;
    animation: preloader 900ms linear infinite;
  }
}

.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  padding: 40px 0;
  transition: background 300ms ease-in-out, box-shadow 300ms ease-in-out;
  box-shadow: 0 0 15px 0 #0000;
  z-index: 90;

  &--sticky {
    background: #fff;
    box-shadow: 0 0 15px 0 #0003;
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    max-width: 164px;
  }

  &__menu {}

  &__burger {
    display: none;
    z-index: 101;
  }
}

.logo {
  width: 100%;

  &__link {
    width: 100%;
  }

  &__img {
    width: 100%;
  }
}

.menu {
  &__list {
    display: flex;
    align-items: center;
  }

  &__item {
    margin-right: 40px;

    &:nth-last-child(1) {
      margin-right: 0;
    }
  }

  &__link {
    font-size: 20px;
    line-height: 1.6;
    transition: opacity 300ms ease-in-out;

    &:hover {
      opacity: 0.5;
    }
  }
}

.burger {
  position: relative;
  width: 24px;
  height: 22px;

  &--active {
    .burger__item {
      &:nth-child(1) {
        transform: translateY(9px) rotate(-45deg);
      }

      &:nth-child(2) {
        opacity: 0;
        transform: translateY(-50%) translateX(5px);
      }

      &:nth-child(3) {
        transform: translateY(-9px) rotate(45deg);
      }
    }
  }

  &__item {
    position: absolute;
    width: 100%;
    background: #000;
    height: 4px;
    border-radius: 1px;
    right: 0;
    transition: transform 300ms ease-in-out, opacity 300ms ease-in-out;

    &:nth-child(1) {
      top: 0;
    }

    &:nth-child(2) {
      top: 50%;
      transform: translateY(-50%);
    }

    &:nth-child(3) {
      bottom: 0;
    }
  }
}

.main-screen {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 48.888%;
    height: 87.5%;
    z-index: -1;
    background: #eeeeee;
  }

  &::after {
    content: "";
    position: absolute;
    top: 74px;
    left: 50%;
    transform: translateX(-50%);
    width: 88px;
    height: 88px;
    background: url("../img/background-img.svg") no-repeat;
    background-position: center center;
    background-size: contain;
    z-index: -2;
  }

  &__inner {
    padding-top: 120px;
    position: relative;
  }

  &__text-box {
    position: absolute;
    left: 59.75%;
  }

  &__heading {
    font-size: 56px;
    line-height: 1.2857;
    font-weight: 900;
    margin-bottom: 16px;
  }

  &__description {
    font-size: 22px;
    line-height: 1.4545;
    font-weight: 300;
  }

  &__content {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  &__video {
    object-fit: cover;
  }

  &__video-box {
    width: 57.31%;
    position: relative;
    min-height: 536px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__video-button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
  }

  &__video-button-icon {
    width: 92px;
    height: 92px;
  }

  &__form {
    width: 40.243%;
    margin-top: 312px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &--dark {
    .form__name {
      color: #fff;
    }

    .form__input {
      background: #464646;
      border: 1px solid #4e4e4e;
      color: #fff;

      &::placeholder {
        color: #777777;
      }
    }

    .iti__selected-dial-code {
      color: #fff;
    }
  }

  &__label {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 16px;
    position: relative;

    label.error {
      position: absolute;
      bottom: -16px;
      left: 0;
    }
  }

  &__name {
    margin-bottom: 8px;
    font-size: 20px;
    line-height: 1.2;
  }

  &__input {
    width: 100%;
    font-size: 18px;
    line-height: 1.3333;
    padding: 16px;
    background: #fff;
    border: 1px solid #b0b0b0;
    border-radius: 3px;

    &::placeholder {
      color: #c1c1c1;
    }
  }

  &__button {
    margin-top: 16px;
  }
}

.button {
  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 24px 16px 32px;
    background: #21a038;
    border-radius: 100px;
    transition: background 300ms ease-in-out;

    &:hover {
      background: #008100;
    }
  }

  &__text {
    font-weight: 700;
    color: #fff;
    font-size: 18px;
    line-height: 1.333;
    margin-right: 8px;
    white-space: nowrap;
  }

  &__icon {
    max-width: 16px;
  }
}

.colored-text {
  &__inner {
    padding-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__heading {
    font-size: 32px;
    line-height: 1.5;
    text-align: center;
    max-width: 1088px;
    background: linear-gradient(91.78deg, #00ed95 0%, #01bdeb 47.4%, #00a201 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
  }
}

.info {
  scroll-margin-top: 40px;

  &__inner {
    padding-top: 120px;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__card {
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.08);
    border-radius: 10px;
    border: 1px solid #e6e8e9;
    background: #f6f6f6;
    padding: 32px 0px 32px 32px;
    display: flex;
    align-items: flex-start;
    position: relative;
    width: 48.85%;
    min-height: 312px;
    margin-bottom: 32px;
    overflow: hidden;
  }

  &__text-box {
    width: 100%;
    max-width: 56.16%;
  }

  &__name {
    font-size: 28px;
    line-height: 1.42;
    font-weight: 500;
    margin-bottom: 8px;
    color: #2c3136;
  }

  &__text {
    font-size: 20px;
    line-height: 2;
    color: #2c3136;
    font-weight: 300;
  }

  &__img {
    position: absolute;
    top: 50%;
    right: -64px;
    max-width: 300px;
    transform: translateY(-50%);
  }
}

.calc {
  scroll-margin-top: 150px;
  margin-top: 120px;

  &__inner {
    padding: 80px 112px;
    background: #ffffff;
    border: 5px solid #f0f3f6;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  &__heading {
    margin-bottom: 24px;
    font-weight: 900;
    font-size: 48px;
    line-height: 1.5;
  }

  &__calc-form {
    width: 100%;
    margin-bottom: 24px;
  }

  &__text {
    font-size: 16px;
    line-height: 1;
    color: #a6a6a6;
  }
}

.calc-form {
  &__head {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 92px;
  }

  &__head-text {
    margin-right: 16px;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.33;
  }

  &__custom-radio {
    margin-right: 8px;
    margin-bottom: 8px;

    &:nth-last-child(1) {
      margin-right: 0;
      margin-bottom: 0;
    }
  }

  &__body {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__ranges-box {
    width: 60%;
  }

  &__ranges-item {
    margin-bottom: 28px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  &__ranges-row {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:nth-child(1) {
      margin-bottom: 28px;
    }

    &:nth-child(2) {
      margin-bottom: 8px;
    }
  }

  &__ranges-name {
    font-size: 28px;
    line-height: 1.43;
    font-weight: 300;
  }

  &__ranges-value {
    font-weight: 500;
    font-size: 36px;
    line-height: 1.33;
  }

  &__ranges-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1;
    color: #A6A6A6;
  }

  &__result-box {
    width: 33%;
  }

  &__result-item {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  &__result-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1;
    color: #A6A6A6;
    margin-bottom: 8px;
  }

  &__result-value {
    font-weight: 500;
    font-size: 64px;
    line-height: 1.37;
  }

  &__button {}
}

.custom-radio {
  &__radio {
    position: absolute;
    opacity: 0;

    &:checked {
      ~.custom-radio__button {
        color: #fff;
        background: #21A038;
      }
    }
  }

  &__button {
    user-select: none;
    padding: 8px 24px;
    font-size: 18px;
    line-height: 1.33;
    color: #93969B;
    font-weight: 500;
    background: #F0F2F5;
    border-radius: 100px;
    cursor: pointer;
    transition: color 300ms ease-in-out, backdround 300ms ease-in-out;
    white-space: nowrap;
  }
}

.custom-range {
  width: 100%;
  position: relative;

  &__input {
    -webkit-appearance: none;
    height: 4px;
    width: 100%;
    border-radius: 100px;
    background: #C4C4C4;

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      cursor: pointer;
      width: 24px;
      height: 24px;
      position: relative;
      z-index: 3;
      visibility: hidden;
    }
  }

  &__btn {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%, -40%);
    border-radius: 50%;
    background: #21A038;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border: 5px solid #FFFFFF;
    pointer-events: none;
    z-index: 3;
  }

  &__progress-bar {
    height: 4px;
    width: 100%;
    position: absolute;
    left: 0;
    top: 53%;
    background: #21A038;
    pointer-events: none;
    z-index: 2;
    border-radius: 100px;
    max-width: 0;
  }
}


.big-info {
  scroll-margin-top: 100px;

  &__inner {
    padding-top: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__text-box {
    width: 48.62%;
    margin-right: 3.8%;
  }

  &__heading {
    font-size: 48px;
    line-height: 1.5;
    font-weight: 900;
    margin-bottom: 16px;
  }

  &__text {
    font-size: 20px;
    line-height: 2;
    font-weight: 300;
  }

  &__img-box {
    width: 31.85%;
  }

  &__img {}
}

.exchange-rate {
  scroll-margin-top: 150px;
  margin-top: 120px;
  background: #f0f3f6;

  &__inner {
    padding: 72px 0 88px 0;
  }

  &__heading {
    font-weight: 900;
    font-size: 48px;
    line-height: 1.5;
    margin-bottom: 8px;
  }

  &__text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #a6a6a6;
  }

  &__content {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
    margin-top: 40px;
  }

  &__info {
    width: 42.68%;
  }

  &__row {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 72px;

    &:nth-child(1) {
      .exchange-rate__column {
        &:nth-child(2) {
          margin-left: 224px;
        }

        &:nth-child(3) {
          margin-left: 163px;
        }
      }
    }

    &:nth-last-child(1) {
      margin-bottom: 0;
    }
  }

  &__column {
    display: flex;
    justify-content: center;
    align-items: center;

    &:nth-child(2) {
      margin-left: 159px;
    }

    &:nth-child(3) {
      margin-left: 115px;
    }
  }

  &__name {
    font-size: 34px;
    line-height: 1.18;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__arrow-icon {
    margin-left: 7px;
  }

  &__exchange-form {
    width: 31.7%;
  }
}

.arrow-icon {
  max-width: 18px;
}

.exchange-form {
  &__item {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 40px;

    &:nth-last-child(1) {
      margin-bottom: 0;
    }
  }

  &__name {
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 8px;
  }

  &__input-box {
    width: 100%;
    padding: 16px;
    background: #fff;
    border: 1px solid #b0b0b0;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__input {
    width: 80%;
    font-size: 18px;
    line-height: 1.33;

    &::placeholder {
      color: #c1c1c1;
    }
  }

  &__select-label {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__select-marker {
    max-width: 22px;
    margin-left: 9px;
  }

  &__select {
    font-size: 18px;
    line-height: 1.33;
    -webkit-appearance: none;
    -moz-appearance: none;

    &[name="selectsell"] {
      background-image: url('../img/arrow-down--black.svg');
      background-repeat: no-repeat;
      background-size: 16px 10px;
      background-position: center right;
      padding-right: 32px;
      cursor: pointer;
    }
  }
}

.license {
  scroll-margin-top: 120px;

  &__inner {
    padding-top: 120px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }

  &__text-box {
    width: 40.24%;
    margin-right: 32px;
  }

  &__heading {
    font-size: 48px;
    line-height: 1.5;
    font-weight: 900;
  }

  &__show-more-box {
    width: 40.24%;
    max-height: 370px;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: max-height 300ms ease-in-out;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: 3;
      background: linear-gradient(0deg, rgba(255, 255, 255, 1) 23%, rgba(255, 255, 255, 0.365983893557423) 50%, rgba(32, 33, 36, 0) 100%);
      transition: transform 300ms ease-in-out;
    }

    &--active {
      &::after {
        transform: translateY(1000px);
      }
    }
  }

  &__img {}

  &__show-more-btn {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    z-index: 5;
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      max-width: 74px;
      margin-bottom: 20px;
      transition: transform 300ms ease-in-out;
    }

    span {
      font-size: 22px;
      line-height: 1.09;
      color: #21a038;
      font-weight: 300;
    }

    &--active {
      position: static;
      transform: none;

      img {
        transform: scale(1, -1);
      }
    }
  }
}

.steps {
  scroll-margin-top: 40px;

  &__inner {
    padding-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__heading {
    margin-bottom: 16px;
    font-weight: 900;
    font-size: 48px;
    line-height: 1.5;
  }

  &__content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    &--reversed {
      align-items: flex-start;
    }
  }

  &__item {
    max-width: 416px;
  }

  &__name {
    font-size: 28px;
    font-weight: 500;
    line-height: 1.43;
    margin-bottom: 8px;
  }

  &__text {
    font-weight: 300;
    font-size: 20px;
    line-height: 2;
  }

  &__img-box {
    width: 100%;
    position: relative;
    margin: 30px 0 16px 0;
  }

  &__way-img {}

  &__il-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 334px;
  }
}

.request {
  margin-top: 120px;
  background: #202020;

  &__inner {
    padding: 64px 0;
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }

  &__text-box {
    width: 48.78%;
    margin-right: 32px;
  }

  &__heading {
    font-size: 56px;
    line-height: 1.29;
    font-weight: 900;
    margin-bottom: 16px;
    color: #fff;
  }

  &__text {
    font-weight: 300;
    font-size: 22px;
    line-height: 1.45;
    color: #fff;
  }

  &__form {
    width: 31.7%;
  }
}

.footer {
  position: relative;
  overflow: hidden;

  &::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 298px;
    height: 298px;
    background: url("../img/background-img.svg") no-repeat;
    background-position: center center;
    background-size: contain;
    transform: translate(30%, -35%);
  }

  &__inner {
    padding: 48px 0;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  &__column {
    width: 24.5%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  &__logo {
    max-width: 192px;
    margin-bottom: 24px;
  }

  &__copyright {
    font-size: 20px;
    font-weight: 300;
    line-height: 1.2;
  }

  &__link {
    font-size: 18px;
    line-height: 1.33;
    color: #959595;
    margin-bottom: 32px;
    transition: color 300ms ease-in-out;

    &:nth-last-child(1) {
      margin-bottom: 0;
    }

    &:hover {
      color: #808080;
    }
  }
}